& .blogs {
  padding: 95px;
  text-align: center;

  &__heading {

    & h3 {
      font-size: 3.6rem;
      line-height: 4rem;
      margin: 10px 0;
    }
  }

  &__card {
    width: 100%;
    text-align: left;
    box-shadow: 0px 0px 20px 1px #e2e2e2;
    transition: 0.5s;
    margin-top: 32px;

    &:hover {
      box-shadow: 0px 0px 20px 1px #a3a3a3;
    }

    &-img {
      position: relative;

      & img {
        width: 100%;
      }

    }

    &-date {
      display: flex;
      padding: 8px 15px;
      font-size: 1.5rem;
      line-height: 1.2;
      background-color: $second-color;
      color: white;
      justify-content: space-between;
      border-radius: 4px;
      position: absolute;
      width: 80%;
      bottom: 0;
      left: 50%;
      transform: translate(-50%, 25%);

      & i {
        margin-right: 4px;
      }
    }

    &-text {
      padding: 35px 10px 20px 10px;
    }

    &-heading {
      color: $main-color;
      font-size: 2.3rem;
      line-height: 1.2;
      font-weight: 500;
      margin-bottom: 8px;
      transition: 0.5s;
      cursor: pointer;

      &:hover {
        color: $second-color;
      }
    }

    &-content {
      font-size: 16px;
      line-height: 1.8;
    }

    &-more {
      border-top: 1px solid $second-color;
      padding: 16px 10px;
      display: flex;
      justify-content: space-between;
      align-items: center;

      & a {
        text-decoration: none;
        font-weight: 600;
        font-size: 1.6rem;
        color: $second-color;
        transition: 0.5s;

        &:hover {
          color: $main-color;
        }
      }
    }

    &-share {
      font-size: 1.5rem;
      font-weight: 600;
      color: $main-color;
      display: flex;
      align-items: center;

      & ul {
        list-style-type: none;
        display: flex;
        color: white;
        font-size: 1.8rem;
        gap: 4px;
        margin-left: 4px;

        & li {
          width: 30px;
          height: 30px;
          padding: 4px;

          display: flex;
          justify-content: center;
          align-items: center;
          border-radius: 4px;

          &.bg {
            &-facebook {
              background-color: #3b5998;
            }

            &-linkedin {
              background-color: #007bb5;
            }

            &-whatsapp {
              background-color: #2da51f;
            }

            &-twitter {
              background-color: #54abec;
            }
          }
        }
      }
    }
  }
}

// tablet and mobile
@media screen and (max-width: 1024px) {}

// tablet
@media screen and (min-width: 740px) and (max-width: 1024px) {}


// mobile
@media screen and (max-width: 740px) {}