* {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  font-size: 62.5%;
  line-height: 1.6rem;
  font-family: "Roboto", sans-serif;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

.app {
  position: relative;
}

.grid {
  width: 1200px;
  max-width: 100%;
  margin: 0 auto;
}

.grid_full-width {
  width: 100%;
}

.grid__row {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-left: -12px;
  margin-right: -12px;
}

.col-lg-1 {
  padding-left: 12px;
  padding-right: 12px;
  width: calc(1 * 8.3333%);
}

.col-lg-2 {
  padding-left: 12px;
  padding-right: 12px;
  width: calc(2 * 8.3333%);
}

.col-lg-3 {
  padding-left: 12px;
  padding-right: 12px;
  width: calc(3 * 8.3333%);
}

.col-lg-4 {
  padding-left: 12px;
  padding-right: 12px;
  width: calc(4 * 8.3333%);
}

.col-lg-5 {
  padding-left: 12px;
  padding-right: 12px;
  width: calc(5 * 8.3333%);
}

.col-lg-6 {
  padding-left: 12px;
  padding-right: 12px;
  width: calc(6 * 8.3333%);
}

.col-lg-7 {
  padding-left: 12px;
  padding-right: 12px;
  width: calc(7 * 8.3333%);
}

.col-lg-8 {
  padding-left: 12px;
  padding-right: 12px;
  width: calc(8 * 8.3333%);
}

.col-lg-9 {
  padding-left: 12px;
  padding-right: 12px;
  width: calc(9 * 8.3333%);
}

.col-lg-10 {
  padding-left: 12px;
  padding-right: 12px;
  width: calc(10 * 8.3333%);
}

.col-lg-11 {
  padding-left: 12px;
  padding-right: 12px;
  width: calc(11 * 8.3333%);
}

.col-lg-12 {
  padding-left: 12px;
  padding-right: 12px;
  width: calc(12 * 8.3333%);
}

.my-btn {
  background-color: #002e5b;
  padding: 12px 30px;
  color: white;
  font-weight: 700;
  border: none;
  line-height: 27px;
  font-size: 1.8rem;
  transition: color 1s;
  position: relative;
  overflow: hidden;
}
.my-btn:hover {
  color: #41c3c0;
  cursor: pointer;
}
.my-btn:hover::before {
  width: 100%;
}
.my-btn:hover::after {
  width: 100%;
}
.my-btn::before {
  content: "";
  width: 0;
  height: 2px;
  background-color: white;
  position: absolute;
  top: 0;
  left: 0;
  transition: width 1s ease;
  transform: translateY(100%);
}
.my-btn::after {
  content: "";
  width: 0;
  height: 2px;
  background-color: white;
  position: absolute;
  bottom: 0;
  right: 0;
  transition: width 1s ease;
  transform: translateY(-100%);
}

@media screen and (min-width: 740px) and (max-width: 1024px) {
  .col-md-1 {
    padding-left: 12px;
    padding-right: 12px;
    width: calc(1 * 8.3333%);
  }

  .col-md-2 {
    padding-left: 12px;
    padding-right: 12px;
    width: calc(2 * 8.3333%);
  }

  .col-md-3 {
    padding-left: 12px;
    padding-right: 12px;
    width: calc(3 * 8.3333%);
  }

  .col-md-4 {
    padding-left: 12px;
    padding-right: 12px;
    width: calc(4 * 8.3333%);
  }

  .col-md-5 {
    padding-left: 12px;
    padding-right: 12px;
    width: calc(5 * 8.3333%);
  }

  .col-md-6 {
    padding-left: 12px;
    padding-right: 12px;
    width: calc(6 * 8.3333%);
  }

  .col-md-7 {
    padding-left: 12px;
    padding-right: 12px;
    width: calc(7 * 8.3333%);
  }

  .col-md-8 {
    padding-left: 12px;
    padding-right: 12px;
    width: calc(8 * 8.3333%);
  }

  .col-md-9 {
    padding-left: 12px;
    padding-right: 12px;
    width: calc(9 * 8.3333%);
  }

  .col-md-10 {
    padding-left: 12px;
    padding-right: 12px;
    width: calc(10 * 8.3333%);
  }

  .col-md-11 {
    padding-left: 12px;
    padding-right: 12px;
    width: calc(11 * 8.3333%);
  }

  .col-md-12 {
    padding-left: 12px;
    padding-right: 12px;
    width: calc(12 * 8.3333%);
  }
}
@media screen and (max-width: 740px) {
  .col-sm-1 {
    padding-left: 12px;
    padding-right: 12px;
    width: calc(1 * 8.3333%);
  }

  .col-sm-2 {
    padding-left: 12px;
    padding-right: 12px;
    width: calc(2 * 8.3333%);
  }

  .col-sm-3 {
    padding-left: 12px;
    padding-right: 12px;
    width: calc(3 * 8.3333%);
  }

  .col-sm-4 {
    padding-left: 12px;
    padding-right: 12px;
    width: calc(4 * 8.3333%);
  }

  .col-sm-5 {
    padding-left: 12px;
    padding-right: 12px;
    width: calc(5 * 8.3333%);
  }

  .col-sm-6 {
    padding-left: 12px;
    padding-right: 12px;
    width: calc(6 * 8.3333%);
  }

  .col-sm-7 {
    padding-left: 12px;
    padding-right: 12px;
    width: calc(7 * 8.3333%);
  }

  .col-sm-8 {
    padding-left: 12px;
    padding-right: 12px;
    width: calc(8 * 8.3333%);
  }

  .col-sm-9 {
    padding-left: 12px;
    padding-right: 12px;
    width: calc(9 * 8.3333%);
  }

  .col-sm-10 {
    padding-left: 12px;
    padding-right: 12px;
    width: calc(10 * 8.3333%);
  }

  .col-sm-11 {
    padding-left: 12px;
    padding-right: 12px;
    width: calc(11 * 8.3333%);
  }

  .col-sm-12 {
    padding-left: 12px;
    padding-right: 12px;
    width: calc(12 * 8.3333%);
  }
}
@keyframes slideToRight {
  from {
    left: 0;
  }
  to {
    left: 100%;
  }
}
.app__header {
  border-bottom: 1px #ddd solid;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1000;
}
.app__header .header__topbar {
  height: 61px;
  background-color: #002e5b;
  color: white;
  display: flex;
  align-items: center;
  transition: height 0.3s;
  cursor: pointer;
}
.app__header .header__topbar-content {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
}
.app__header .header__topbar-list {
  display: flex;
  list-style-type: none;
  padding-left: 0;
}
.app__header .header__topbar-item {
  display: flex;
  align-items: center;
  font-size: 1.6rem;
  padding-right: 10px;
}
.app__header .header__topbar-item:not(:first-child) {
  padding-left: 10px;
  border-left: 1px white dashed;
}
.app__header .header__topbar-right {
  display: flex;
}
.app__header .header__topbar-left {
  display: flex;
}
.app__header .header__topbar-info {
  display: flex;
  margin-right: 16px;
}
.app__header .header__topbar-icon {
  border: 1px white solid;
  border-radius: 50%;
  padding: 4px;
  transition: 0.4s;
}
.app__header .header__topbar-icon:hover {
  background-color: #41c3c0;
}
.app__header .header__navbar {
  height: 83px;
  display: flex;
  align-items: center;
  background-color: white;
}
.app__header .header__navbar-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 1.6rem;
}
.app__header .header__navbar-logo-title {
  font-size: 3.5rem;
  font-weight: 700;
}
.app__header .header__navbar-list {
  display: flex;
  justify-content: center;
  align-items: center;
  list-style-type: none;
}
.app__header .header__navbar-item {
  cursor: pointer;
  font-weight: 500;
  position: relative;
  padding-top: 16px;
  padding-bottom: 16px;
}
.app__header .header__navbar-item:not(:first-child) {
  margin-left: 16px;
}
.app__header .header__navbar-item span {
  transition: 0.3s;
}
.app__header .header__navbar-item--active span, .app__header .header__navbar-item:hover span {
  color: #41c3c0;
}
.app__header .header__navbar-item:hover .header__navbar-list-2 {
  visibility: visible;
  opacity: 1;
  transform: translateY(0);
}
.app__header .header__navbar-button {
  border-radius: 4px;
}
.app__header .header__navbar-mobile {
  display: none;
  height: 56px;
  background-color: white;
  align-items: center;
}
.app__header .header__navbar-mobile-content {
  height: 56px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 1.6rem;
  padding-left: 8px;
  padding-right: 8px;
  position: relative;
}
.app__header .header__navbar-mobile-icon {
  font-size: 3.2rem;
  cursor: pointer;
}
.app__header .header__navbar-mobile-list {
  height: 0px;
  position: absolute;
  top: calc(100% + 1px);
  left: 50%;
  transform: translateX(-50%);
  width: 95%;
  list-style-type: none;
  background-color: white;
  overflow-y: scroll;
  transition: height 0.3s;
}
.app__header .header__navbar-mobile-item {
  font-size: 1.8rem;
  padding: 16px 8px 16px 32px;
  color: #777;
}
.app__header .header__navbar-mobile-item:not(:last-child) {
  border-bottom: 1px solid #ddd;
}
.app__header .header__navbar-mobile-item i {
  float: right;
  font-size: 1.2rem;
}

.header__navbar-list-2 {
  display: block;
  list-style-type: none;
  padding-top: 8px;
  padding-bottom: 8px;
  position: absolute;
  top: 100%;
  left: -8px;
  background-color: white;
  min-width: 180px;
  border-radius: 4px;
  border: 1px solid #ccc;
  visibility: hidden;
  opacity: 0;
  transform: translateY(50px);
  transition: 0.3s;
}

.header__navbar-item-2 {
  padding: 12px;
  transition: 0.4s;
}
.header__navbar-item-2--active, .header__navbar-item-2:hover {
  color: white;
  background-color: #41c3c0;
}

@media screen and (max-width: 1024px) {
  .app__header .header__topbar {
    height: 88px;
  }
  .app__header .header__topbar-left {
    width: 100%;
    justify-content: center;
  }
  .app__header .header__topbar-right {
    margin-top: 27px;
    width: 100%;
    justify-content: center;
  }
  .app__header .header__navbar {
    display: none;
  }
  .app__header .header__navbar-mobile {
    display: block;
  }
}
.app__container {
  overflow-x: hidden;
  margin-top: 144px;
}
.app__container .section-title {
  display: inline-block;
  font-size: 1.8rem;
  color: #41c3c0;
  border-bottom: 2px #41c3c0 solid;
  padding-bottom: 8px;
  margin-bottom: 16px;
  position: relative;
}
.app__container .section-title::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 10px;
  height: 10px;
  border-radius: 12px;
  background-color: #002e5b;
  transform: translate(-50%, calc(50% + 1px));
  animation: slideToRight linear infinite 3s;
}
.app__container .banner {
  height: 700px;
  position: relative;
}
.app__container .banner::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  overflow: hidden;
  border-radius: 0px 0px 50% 50%/0px 0px 65% 25%;
  background-color: #002e5b;
  z-index: -1;
}
.app__container .banner__text {
  color: white;
  margin-top: 120px;
}
.app__container .banner__text h1 {
  font-size: 4.3rem;
  line-height: 4.5rem;
  font-weight: 900;
}
.app__container .banner__text h1 span {
  font-size: 1em;
  color: #41c3c0;
}
.app__container .banner__text p {
  font-size: 1.6rem;
  line-height: 1.8rem;
  margin-bottom: 24px;
}
.app__container .banner__icons {
  display: flex;
  flex-wrap: wrap;
  color: white;
  margin-bottom: 48px;
  list-style-type: none;
}
.app__container .banner__icons .icon {
  font-size: 4.8rem;
  padding: 8px;
  margin: 12px;
  border: 1px white solid;
  border-radius: 8px;
  cursor: pointer;
  transition: 0.5s;
}
.app__container .banner__icons .icon:hover {
  background-color: #41c3c0;
}
.app__container .banner .form__heading {
  font-size: 3.2rem;
  line-height: 3.2rem;
}
.app__container .banner .form__content {
  height: 46px;
  margin-top: 8px;
}
.app__container .banner .form__content input {
  color: black;
  width: 300px;
  height: 46px;
  font-size: 1.6rem;
  border-radius: 40px;
  padding-left: 24px;
  padding-right: 48px;
  outline: none;
  border: none;
}
.app__container .banner .form__content button {
  color: white;
  background-color: #002e5b;
  padding: 0 20px;
  height: 46px;
  font-size: 1.6rem;
  border: 1px white solid;
  border-radius: 23px;
  position: relative;
  left: -50px;
  z-index: 1;
}
.app__container .banner__img {
  margin-top: 200px;
}
@media screen and (max-width: 1024px) {
  .app__container .banner {
    padding-left: 32px;
    padding-right: 32px;
    height: auto;
  }
  .app__container .banner::before {
    border-radius: 0px;
    margin-left: -32px;
    margin-right: -32px;
  }
  .app__container .banner__img {
    margin-top: 40px;
  }
}
@media screen and (max-width: 740px) {
  .app__container .banner__text {
    text-align: center;
  }
  .app__container .banner__icons {
    justify-content: center;
  }
}
.app__container .about .info {
  padding: 100px 20px 100px 88px;
}
.app__container .about .info h3 {
  font-size: 3.8rem;
  line-height: 4rem;
}
.app__container .about .info p {
  font-size: 1.6rem;
  line-height: 2.4rem;
  margin-top: 16px;
  margin-bottom: 16px;
}
.app__container .about .info img {
  margin-top: 32px;
  margin-bottom: 32px;
}
.app__container .about .call {
  position: relative;
  height: auto;
}
.app__container .about .call::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #002e5b;
  border-radius: 100% 0% 0% 50%/100% 0% 0% 0%;
}
.app__container .about .call__content {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  right: 50px;
  color: white;
  text-align: end;
}
.app__container .about .call__content i {
  font-size: 8rem;
}
.app__container .about .call__content h3 {
  font-size: 4.5rem;
  margin: 32px 0;
  line-height: 1;
}
.app__container .about .call__content p {
  font-size: 3rem;
  margin: 32px 0;
}
.app__container .about .call__content h4 {
  color: #41c3c0;
  font-size: 4rem;
}
@media screen and (max-width: 1024px) {
  .app__container .about .info {
    text-align: center;
    padding: 32px 16px;
  }
  .app__container .about .call {
    height: 350px;
  }
}
.app__container .services {
  background-image: url("https://themes.jibdara.com/rec/wp-content/uploads/2021/08/service3-bg-1.png");
  padding: 95px 0;
}
.app__container .services__heading {
  text-align: center;
}
.app__container .services__heading h3 {
  font-size: 3.8rem;
  line-height: 4rem;
  margin: 10px 0;
}
.app__container .services__list {
  padding: 12px;
  justify-content: center;
  list-style-type: none;
}
.app__container .services__item {
  padding: 25px 15px;
  text-align: center;
  margin-top: 30px;
  color: #002e5b;
  box-shadow: 0px 0px 10px 2px #eee;
  background-color: white;
  transition: 0.5s;
}
.app__container .services__item:hover {
  color: white;
  background-color: #002e5b;
}
.app__container .services__item i {
  font-size: 5rem;
  padding: 12px;
  border: 2px #002e5b dashed;
  border-radius: 100%;
}
.app__container .services__item h4 {
  font-size: 2.5rem;
  margin: 16px;
}
.app__container .why-we {
  background-image: url("https://themes.jibdara.com/rec/wp-content/uploads/2021/08/why-we-3-bg.png");
  padding: 95px 0;
}
.app__container .why-we__heading {
  text-align: center;
}
.app__container .why-we__heading h3 {
  font-size: 3.8rem;
  line-height: 4rem;
  margin: 10px 0;
}
.app__container .why-we__list {
  display: flex;
  align-items: center;
  margin-top: 48px;
}
.app__container .why-we__img img {
  width: 100%;
}
.app__container .why-we__right {
  text-align: right;
}
.app__container .why-we__item {
  padding: 20px;
  margin-bottom: 16px;
  color: #002e5b;
  box-shadow: 0 0 10px 2px #eee;
  line-height: 1.8;
  background-color: white;
  transition: transform 0.5s;
}
.app__container .why-we__item:hover {
  transform: translateY(-4px);
}
.app__container .why-we__item:hover h4 {
  color: #41c3c0;
  cursor: pointer;
}
.app__container .why-we__item i {
  font-size: 3rem;
  margin-bottom: 12px;
  padding: 8px;
  border: 2px #002e5b dashed;
  border-radius: 100%;
}
.app__container .why-we__item h4 {
  font-size: 2.4rem;
  margin-bottom: 8px;
}
.app__container .why-we__item p {
  font-size: 1.5rem;
  color: black;
}
@media screen and (max-width: 1024px) {
  .app__container .why-we__list {
    flex-direction: column;
  }
  .app__container .why-we__item {
    text-align: center;
    border-radius: 16px;
  }
  .app__container .why-we__img {
    order: 3;
  }
  .app__container .why-we__right {
    order: 2;
  }
}
.app__container .statistical {
  background-image: url("https://themes.jibdara.com/rec/wp-content/uploads/2021/08/fun-fact-3-bg.png");
  padding: 95px 0;
}
.app__container .statistical__item {
  text-align: center;
}
.app__container .statistical__item i {
  font-size: 4rem;
  padding: 20px;
  background-color: #41c3c0;
  color: white;
  border-radius: 100%;
}
.app__container .statistical__item p {
  font-size: 1.8rem;
  color: white;
}
.app__container .statistical__count {
  font-size: 4rem;
  color: #41c3c0;
  margin: 24px 0;
  font-weight: 700;
}
.app__container .second-why-we {
  background-image: url("https://themes.jibdara.com/rec/wp-content/uploads/2021/08/service3-bg-1.png");
  padding: 95px 0;
}
.app__container .second-why-we__heading {
  text-align: center;
}
.app__container .second-why-we__heading h3 {
  font-size: 3.8rem;
  line-height: 4rem;
  margin: 10px 0;
}
.app__container .second-why-we__list {
  list-style-type: none;
}
.app__container .second-why-we__item {
  width: 100%;
  height: 250px;
  margin-bottom: 24px;
  position: relative;
  color: white;
}
.app__container .second-why-we__item img {
  width: 100%;
  height: 100%;
}
.app__container .second-why-we__item .text-area {
  position: absolute;
  bottom: 0;
  height: 16%;
  padding: 10px 20px;
  background-color: #002e5bcb;
  transition: 0.5s;
  overflow: hidden;
}
.app__container .second-why-we__item .text-area .text {
  font-size: 1.5rem;
  position: relative;
}
.app__container .second-why-we__item .text-area .text__heading {
  font-size: 2.4rem;
  line-height: 2.4rem;
  margin-bottom: 12px;
}
.app__container .second-why-we__item .text-area .text__no {
  position: absolute;
  top: 0;
  right: 0;
  font-weight: 900;
  font-size: 2.8rem;
  font-family: sans-serif;
  color: rgba(255, 255, 255, 0.5);
}
.app__container .second-why-we__item .text-area .text__content {
  display: block;
  line-height: 2.4rem;
  margin-bottom: 16px;
}
.app__container .second-why-we__item .text-area .text__link {
  display: block;
  color: white;
  font-weight: 700;
  text-decoration: none;
  font-size: 0;
  transition: 0.5s;
}
.app__container .second-why-we__item .text-area .text__link:hover {
  color: #41c3c0;
}
.app__container .second-why-we__item:hover .text-area {
  height: 100%;
  padding: 64px 20px;
}
.app__container .second-why-we__item:hover .text__link {
  font-size: 1.8rem;
}
@media screen and (min-width: 740px) and (max-width: 1024px) {
  .app__container .second-why-we__list {
    padding-left: 32px;
    padding-right: 32px;
  }
}
@media screen and (max-width: 740px) {
  .app__container .second-why-we__list {
    padding-left: 48px;
    padding-right: 48px;
  }
}
.app__container .working-process {
  background-image: url("https://themes.envytheme.com/rec/wp-content/uploads/2021/08/working-process-bg.png");
  background-size: auto 100%;
  background-repeat: no-repeat;
  background-position: center;
  padding: 95px 0;
  color: white;
}
.app__container .working-process__content {
  justify-content: flex-start;
}
.app__container .working-process__heading {
  margin-bottom: 32px;
}
.app__container .working-process__heading h3 {
  font-size: 3.6rem;
  line-height: 4rem;
  margin: 10px 0;
}
.app__container .working-process__item {
  display: flex;
  align-items: center;
  margin: 12px 0;
}
.app__container .working-process__item:not(:last-child) .icon::after {
  content: "";
  width: 3px;
  height: 100%;
  position: absolute;
  bottom: 0;
  left: calc(50% - 2px);
  background-color: white;
  transform: translateY(100%);
  transition: background-color 0.5s;
}
.app__container .working-process__item:hover .icon {
  color: #41c3c0;
}
.app__container .working-process__item:hover .icon::after {
  background-color: #41c3c0;
}
.app__container .working-process__item .icon {
  color: #002e5b;
  background-color: white;
  font-size: 4rem;
  padding: 16px;
  border-radius: 100%;
  transition: color 0.5s;
  margin: 16px;
  position: relative;
}
.app__container .working-process__item .text__heading {
  font-size: 2.4rem;
  font-weight: 500;
  margin-bottom: 12px;
  line-height: 1;
}
.app__container .working-process__item .text__content {
  font-size: 1.6rem;
  line-height: 2rem;
}
@media screen and (max-width: 1024px) {
  .app__container .working-process__content {
    justify-content: center;
    text-align: center;
  }
  .app__container .working-process__item {
    text-align: left;
  }
}
.app__container .appointment {
  background-image: url("https://themes.envytheme.com/rec/wp-content/uploads/2021/08/bg-left-align.png");
  background-size: 100%;
  padding: 95px 0;
}
.app__container .appointment__form {
  background-color: #41c3c0;
  border-radius: 8px;
  padding: 30px 20px;
  height: 100%;
  color: white;
}
.app__container .appointment .form {
  text-align: center;
}
.app__container .appointment .form ::placeholder {
  color: white;
  opacity: 1;
  font-weight: 700;
}
.app__container .appointment .form__heading {
  font-size: 3rem;
  line-height: 1.8;
}
.app__container .appointment .form__input {
  margin: 24px 0;
}
.app__container .appointment .form__input-item {
  height: 46px;
  background-color: #41c3c0;
  border-radius: 25px;
  border: 1px white solid;
  outline: none;
  margin-bottom: 20px;
  width: 100%;
  font-size: 1.6rem;
  padding: 0 12px;
  color: white;
}
.app__container .appointment .form__input-item option {
  background-color: white;
  color: black;
}
.app__container .appointment .form__button {
  border-radius: 25px;
  width: 100%;
}
.app__container .appointment__text h3 {
  font-size: 3.8rem;
  line-height: 4.2rem;
  margin: 10px 0;
}
.app__container .appointment__text p {
  font-size: 1.6rem;
  color: #333;
  line-height: 1.8;
}
.app__container .appointment__text button {
  border-radius: 25px;
  margin-top: 24px;
}
.app__container .appointment__text .brands-logo {
  margin-top: 24px;
}
.app__container .appointment__text .brands-logo .brand__list {
  display: flex;
  flex-wrap: wrap;
  list-style-type: none;
  justify-content: space-between;
}
@media screen and (max-width: 1024px) {
  .app__container .appointment__text {
    margin-top: 16px;
    text-align: center;
  }
  .app__container .appointment__text .brands-logo .brand__list {
    justify-content: center;
  }
  .app__container .appointment__text .brands-logo .brand__list .brand__item + .brand__item {
    margin-left: 16px;
  }
}
.app__container .blogs {
  padding: 95px;
  text-align: center;
}
.app__container .blogs__heading h3 {
  font-size: 3.6rem;
  line-height: 4rem;
  margin: 10px 0;
}
.app__container .blogs__card {
  width: 100%;
  text-align: left;
  box-shadow: 0px 0px 20px 1px #e2e2e2;
  transition: 0.5s;
  margin-top: 32px;
}
.app__container .blogs__card:hover {
  box-shadow: 0px 0px 20px 1px #a3a3a3;
}
.app__container .blogs__card-img {
  position: relative;
}
.app__container .blogs__card-img img {
  width: 100%;
}
.app__container .blogs__card-date {
  display: flex;
  padding: 8px 15px;
  font-size: 1.5rem;
  line-height: 1.2;
  background-color: #41c3c0;
  color: white;
  justify-content: space-between;
  border-radius: 4px;
  position: absolute;
  width: 80%;
  bottom: 0;
  left: 50%;
  transform: translate(-50%, 25%);
}
.app__container .blogs__card-date i {
  margin-right: 4px;
}
.app__container .blogs__card-text {
  padding: 35px 10px 20px 10px;
}
.app__container .blogs__card-heading {
  color: #002e5b;
  font-size: 2.3rem;
  line-height: 1.2;
  font-weight: 500;
  margin-bottom: 8px;
  transition: 0.5s;
  cursor: pointer;
}
.app__container .blogs__card-heading:hover {
  color: #41c3c0;
}
.app__container .blogs__card-content {
  font-size: 16px;
  line-height: 1.8;
}
.app__container .blogs__card-more {
  border-top: 1px solid #41c3c0;
  padding: 16px 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.app__container .blogs__card-more a {
  text-decoration: none;
  font-weight: 600;
  font-size: 1.6rem;
  color: #41c3c0;
  transition: 0.5s;
}
.app__container .blogs__card-more a:hover {
  color: #002e5b;
}
.app__container .blogs__card-share {
  font-size: 1.5rem;
  font-weight: 600;
  color: #002e5b;
  display: flex;
  align-items: center;
}
.app__container .blogs__card-share ul {
  list-style-type: none;
  display: flex;
  color: white;
  font-size: 1.8rem;
  gap: 4px;
  margin-left: 4px;
}
.app__container .blogs__card-share ul li {
  width: 30px;
  height: 30px;
  padding: 4px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 4px;
}
.app__container .blogs__card-share ul li.bg-facebook {
  background-color: #3b5998;
}
.app__container .blogs__card-share ul li.bg-linkedin {
  background-color: #007bb5;
}
.app__container .blogs__card-share ul li.bg-whatsapp {
  background-color: #2da51f;
}
.app__container .blogs__card-share ul li.bg-twitter {
  background-color: #54abec;
}
.app__container .go-top {
  background-color: #002e5b;
  width: 36px;
  height: 36px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  bottom: 20px;
  right: 20px;
  border-radius: 6px;
  transition: 0.4s;
}
.app__container .go-top:hover {
  cursor: pointer;
  border: 1px solid white;
}
.app__container .go-top i::before {
  color: white;
  font-size: 2rem;
  font-weight: 900;
}

.footer {
  color: white;
  font-size: 1.6rem;
}
.footer ::-webkit-input-placeholder {
  /* Edge */
  color: #6c757d;
  font-weight: 400;
}
.footer :-ms-input-placeholder {
  /* Internet Explorer 10-11 */
  color: #6c757d;
  font-weight: 400;
}
.footer ::placeholder {
  color: #6c757d;
  font-weight: 400;
}
.footer-main {
  background-color: #002e5b;
  padding: 95px 0;
}
.footer-main .newsletter, .footer-main .contact-info, .footer-main .departments {
  margin-top: 24px;
  margin-bottom: 24px;
  line-height: 1.8;
}
.footer-main .newsletter h3, .footer-main .contact-info h3, .footer-main .departments h3 {
  font-size: 2.6rem;
  margin-bottom: 16px;
  font-weight: 500;
}
.footer-main .newsletter p, .footer-main .contact-info p, .footer-main .departments p {
  margin-bottom: 16px;
}
.footer-main .newsletter ul, .footer-main .contact-info ul, .footer-main .departments ul {
  list-style-type: none;
}
.footer-main .newsletter ul li, .footer-main .contact-info ul li, .footer-main .departments ul li {
  transition: 0.5s;
  cursor: pointer;
  margin-top: 12px;
}
.footer-main .newsletter ul li:hover, .footer-main .contact-info ul li:hover, .footer-main .departments ul li:hover {
  color: #41c3c0;
}
.footer-main .newsletter ul li i, .footer-main .contact-info ul li i, .footer-main .departments ul li i {
  margin-right: 4px;
}
.footer-main .recent-posts {
  margin-top: 24px;
  margin-bottom: 24px;
  line-height: 1.4;
}
.footer-main .recent-posts h3 {
  font-size: 2.6rem;
  margin-bottom: 16px;
  font-weight: 500;
}
.footer-main .recent-posts ul {
  list-style-type: none;
}
.footer-main .recent-posts ul li {
  cursor: pointer;
  margin-top: 12px;
  display: flex;
  height: 52px;
}
.footer-main .recent-posts ul li .img {
  border-radius: 4px;
  overflow: hidden;
  margin-right: 12px;
}
.footer-main .recent-posts ul li h4 {
  transition: 0.5s;
}
.footer-main .recent-posts ul li p {
  margin-bottom: 0;
  font-size: 1.4rem;
}
.footer-main .recent-posts ul li:hover h4 {
  color: #41c3c0;
}
.footer-main .newsletter .form {
  border: 2px solid white;
  display: flex;
  height: 60px;
}
.footer-main .newsletter .form input {
  background-color: transparent;
  border: none;
  outline: none;
  padding-left: 8px;
  color: white;
  width: 70%;
}
.footer-main .newsletter .form button {
  width: 30%;
  border: none;
  border-left: 1px solid white;
  color: #002e5b;
  transition: 0.5s;
  cursor: pointer;
  font-size: 20px;
}
.footer-main .newsletter .form button:hover {
  color: white;
  background-color: transparent;
}
.footer-bottom {
  background-color: #023565;
  display: flex;
  justify-content: center;
  align-items: center;
  line-height: 1.8;
  padding: 12px 0;
  border-top: 1px solid #ffffff43;
  text-align: center;
}
.footer-bottom span {
  color: #41c3c0;
  cursor: pointer;
}

@media screen and (max-width: 1024px) {
  .footer-main .newsletter, .footer-main .contact-info, .footer-main .departments, .footer-main .recent-posts {
    margin-left: 24px;
    margin-right: 24px;
  }
}

/*# sourceMappingURL=index.css.map */
